/*
 GLOBAL
*/
html, body {
    margin: 0;
}

* { /*Aplica para tudo*/
     /*Corrigindo comportamento padrão css*/
     box-sizing: border-box; 
}

body {
    display: flex;/*fluxo padrão*/
    flex-direction: column;/*direção do flex em coluna*/

    height: 100vh;/*100% altura*/

    /*fonte*/
    font-family: 'Roboto', sans-serif ;

    /*fundo*/
    background-color: #f9f9f9;
}

h1, h2 {
    color:#000000cc;
}

/* Titulos */
header h1, main h2 {
    /* alinhamento de textos */
    margin-bottom: 70px; /*margin inferior*/
}


main h2 span {
    color: #ff4f4f;
}

.form h2 {
    text-align: right;/*texto alinhado direita*/
    color: #ffffffee; /* ee no final faz transparência*/
    font-size: 18px;/*tamanho fonte*/
}

/* Estruturas */
header, main, footer {
    text-align: center;
}


header, .form, main {
    /*espaçamentos com margin*/
    margin: 0 auto 70px auto;/*topo,right,bottom,left*/
    

    /*limites dos elementos na página*/
    width: 90%;/*largura*/
    max-width: 500px;
   
}

/* Header */
header button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;/*tira a borda*/

    background-color: #ff4f4f;/*cor fundo botão*/
    color: white;/*cor texto*/

    font-weight: bold;/*peso fonte -> negrito*/
}

.logo {
    width: 150px;
    margin: 70px 0;
}

header p {
    font-size: 14px;
}

/* Form */
section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:45px;/*espaçamento grid*/
    align-items: center;/*alinhar nas linhas*/

    background-color: #ff4f4f;
    
    padding:16px 64px;

    border-radius: 6px;  
}

form input,
form button {
    /*largura*/
    width: 100%;

    /*espaçamentos*/
    margin-bottom: 4px;
   

    /* Preenchimento */
    padding: 8px 16px; /* cima/baixo esquerda/direita*/

    /*Bordas*/
    border-radius: 4px; /*borda input*/
    border: 1px #ffffff88 solid;/*grossura/cor/apresentação*/
}

form input {
    background-color: transparent;/* fundo transparente*/
}

form input::placeholder {
    color: #ffffffaa;
}

form button {
    font-weight: bold;
}

/* Main*/
main .donors {
    display: grid; /*como mostra elementos na página*/
    grid-template-columns: 1fr 1fr 1fr 1fr;/*define quantas colunas tenho -> 4*/
}

.blood {
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
}

.blood::before {
    content: "";
    background-color: #ff4f4f11;
   
    width: 40px;
    height: 40px;

    position: absolute; 

    /* fazer a gotinha*/
    border-radius: 50%;
    border-top-right-radius: 0;

    /*faz girar*/
    transform: rotate(-45deg);
    
}

.donor p {
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 14px;
}

footer {
    margin-top: auto; /*margin superior*/
    
    padding: 16px;

    border:1px solid #eee;
}


/* funcionalidades com javascript */

section.form {
    transition: all 300ms; 
}

section.form.hide {
    opacity: 0;
    height: 0;
    margin-top: -70px;
}